<div class="navbar-mobile">
	<a href="/"">{% include navigation-logo.html %}</a>
  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<nav>
		{% for link in site.data.navigation.links %}
			{% assign class = "" %}
			{% if link.highlight %}
				{% assign class = class | append: " highlight" %}
			{% endif %}
	
			{% if link.link == page.url %}
				{% assign class = class | append: " active" %}
			{% endif %}
			<a href="{{ site.baseurl }}{{ link.link }}" class="menu-item{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% endfor %}
	</nav>
</div>