.nav-open {
	header {
		background: #444;
		z-index: 10;

		@media #{$mid-point} {
			background: none;
		}
	}

	nav {
		margin: 20px 0 0 0;
		border: 0;

		a {
			display: block;
		}

		@media #{$mid-point} {
			border: 0;
			padding: 0 20px;

			a {
				display: inline;
			}
		}
	}
}

.navbar {
	display: flex;
	justify-content: space-between;

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;

		@media #{$mid-point} {
			#open-nav {
				display: none;
			}
		}

		@media (max-width: 450px) {
			.menu-item {
				display: none;
			}
		}
		a {
			font-size: 18px;
			font-family: 'Pavanam';
			text-transform: uppercase;
			font-weight: 400;
			
			&.active {
				font-weight: 600;
			}
		}
	}

}